{% extends "TunisiaMallBundle::templateadmin.html.twig" %}
{#{% block debuttemplate %}#}
{% block robots %}

<section id="content">

    {#7otou il code lenna#}

</section>
{% endblock robots%}
{#{% block fintemplate %}#}